@font-face {
    font-family: 'Pangram Fragment';
    src: url('./assets/PPFragment-SerifLight.otf') format('opentype');
    font-weight: 100;
  }

 @font-face {
    font-family: 'Pangram Woodland';
    src: url('./assets/PPWoodland-Ultralight.otf') format('opentype');
    font-weight: 100;
}

  h1{
    font-family: 'Pangram Fragment', Times;
  }

  body {

     max-width: 1200px;
     margin: 0 auto;
     margin-top: 4%;
     height: 100%;
     color: white;
     display: block;
     box-sizing: border-box; /* The box border applies to the inside of the div and not to the outside */
     font-family: 'Pangram Woodland', serif;
     background-image: url('./assets/images/r3.png');
  }

  p{
    font-family: 'Pangram Woodland', Times;
    font-size:24px;
  }

.container {
	max-width: 600px;
	margin-left: 2%;
    margin-top: 2%;
}   

button{
	height: 40px;
    width:70px;
    font-family : 'Pangram Fragment', Times;
    font-style: italic;
    color: white;
	vertical-align: middle;
    border-radius: 15px;
}

#backbtn {
    background-color: #84b5ba;
      margin:5%;
      font-size: 24px;
      border-radius: 20px;
      position: absolute;
      left: 2%;
      text-shadow: 1px 1px 0px black;
  }

form {
	display:inline;

}

input[type="text"] {
	height: 40px;
	font-size:25px;
    border-radius: 15px;
}

