@font-face {
    font-family: 'Pangram Fragment';
    src: url('./assets/PPFragment-SerifLight.otf') format('opentype');
    font-weight: 100;
  }

 @font-face {
    font-family: 'Pangram Woodland';
    src: url('./assets/PPWoodland-Ultralight.otf') format('opentype');
    font-weight: 100;
}

  h1{
    font-family: 'Pangram Fragment', Times;
  }

  body {

     max-width: 1200px;
     margin: 0 auto;
     margin-top: 4%;
     height: 100%;
     color: white;
     display: block;
     box-sizing: border-box; /* The box border applies to the inside of the div and not to the outside */
     font-family: 'Pangram Woodland', serif;
  }

  p{
    font-family: 'Pangram Woodland', Times;
    font-size:24px;
  }

  #page1 {
    background-image: url('./assets/images/candle.png');
  }

  #page2 {
    background-image: url('./assets/images/candlelit.png');
  }

  #page3 {
    background-image: url('./assets/images/r2.png');
  }

  #page4 {
    background-image: url('./assets/images/r1.png');
  }

  #div1 {
    width: 20%;
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}

button {
    font-family : 'Pangram Fragment', Times;
    font-style: italic;
    color: white;
    border-radius: 15px;
    background-color: #628494;
}

#burnbtn {
  background-color: #fcd158;
    margin:5%;
    font-size: 39px;
    border-radius: 20px;
    position: absolute;
    right: 180px;
    text-shadow: 2px 2px 4px black;
}

#backbtn {
  background-color: #84b5ba;
    margin:5%;
    font-size: 24px;
    border-radius: 15px;
    position: absolute;
    left: 2%;
    text-shadow: 1px 1px 0px black;
}

#q1{
  font-size: 24px;
  border-radius: 15px;
  background-color: #a6b0e3;
}

#q2{
  font-size: 24px;
  border-radius: 15px;
  background-color: #919dd9;
  opacity: 95%;
}

#q3{
  font-size: 24px;
  border-radius: 15px;
  background-color: #7283cc;
  opacity: 80%;
}

t{
  font-size: 24px;
  border-radius: 15px;
  background-color: #7283cc;
  opacity: 80%;
  display:inline;
}