@font-face {
    font-family: 'Pangram Fragment';
    src: url('./assets/PPFragment-SerifLight.otf') format('opentype');
    font-weight: 100;
  }

 @font-face {
    font-family: 'Pangram Woodland';
    src: url('./assets/PPWoodland-Ultralight.otf') format('opentype');
    font-weight: 100;
}

  h1{
    font-family: 'Pangram Fragment', Times;
  }

  body {

     max-width: 1200px;
     margin: 0 auto;
     margin-top: 5%;
     height: 100%;
     color: white;
     display: block;
     box-sizing: border-box; /* The box border applies to the inside of the div and not to the outside */
     font-family: 'Pangram Woodland', serif;
     background-image: url('./assets/images/candle.png');
  }

  p{
    font-family: 'Pangram Woodland', Times;
    font-size:24px;
  }
  
  button {
    font-family : 'Pangram Fragment', Times;
    font-style: italic;
    color: white;
}

.container {
	max-width: 600px;
	margin: 0 auto;
}

button{
	height: 40px;
	vertical-align: middle;
}

#emoji {
	font-size: 48px;
}

form {
	display:inline;

}

input[type="text"] {
	height: 40px;
	font-size:25px;
}